.Message {
	margin-left: 10px;
	margin-right: 10px;
    margin-top: 10px;
	cursor: pointer;
}

.Message:hover {
	background-color: #eeeeee;
}

.Deleting {
	background-color: #ffeeee;
}

.Deleting :hover {
	background-color: #ffeeee;
}

.Header {
    display: flex ;
}

.AuthorNameBlock {
    flex: 1 1 auto ;
    overflow: hidden;
	justify-content: center;
	align-self: center;	

}

.AuthorName {
    overflow: hidden ;
    text-overflow: ellipsis ;
    white-space: nowrap ;
}

.Date {
    flex: 0 0 auto ;
    white-space: nowrap ;
	justify-content: center;
	align-self: center;	
	padding-left: 20px;
	font-size: x-small;
}
